
<h2> Welcome to the invoicing system </h2>
  <p class="body">This page is currently underconstuction and will be online for testing soon </p>

  <p class="body"> Update: 4-19-14 3:06AM Database table for customers created. Page will be ready for data input by monday 4-21-14</p>